---
import { Alert } from "@/components/ui/alert";
import { Github } from "lucide-react";
---

<footer class="container mx-auto mt-auto py-4">
  <Alert>
    <p
      class="text-sm leading-loose text-muted-foreground flex flex-row items-center justify-center gap-1"
    >
      Customized by{" "}
      <a
        href="https://github.com/HaAnhTun"
        target="_blank"
        rel="noreferrer"
        class="font-medium hover:text-purple-500 transition-colors duration-200 flex items-center gap-1"
      >
        <Github className="h-4 w-4" /> ĐẸP TRAI NHẤT XÓM NGHIỆN
      </a>
      {" "}• Based on{" "}
      <a
        href="https://github.com/hoccodeai"
        target="_blank"
        rel="noreferrer"
        class="font-medium hover:text-purple-500 transition-colors duration-200"
      >
        HocCodeAI template
      </a>
    </p>
  </Alert>
</footer>
